* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DEDFE4;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

header {
    font-size: 48px;
    font-family: 'Courier', sans-serif;
    text-align: center; 
    font-weight: 800;
}

footer {
    padding: 8px 0;
    font-family:'Courier', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

button {
    width: 72px;
    height: 72px;
    font-size: 32px;
    color: white;
    background-color: #393a40;
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: bold;
}

#github-icon {
    width: 26px; 
    height: 26px;
    padding: 0 0 0 4px;
    min-width: 0;
    min-height: 0;
    position: absolute;
}

#calculator-container {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 420px;
    height: auto;
    background-color: #d3d5d9;
    padding: 36px 12px;
    border: solid 4px #afb1b5;
}

#display-container {
    background-color: #d6e2e2;
    width: 364px; 
    height: 90px;
    line-height: 90px;
    border: solid 6px #676a70;
    border-radius: 4px;
    font-size: 64px;
    text-align: right;
    padding: 8px;
    font-family: 'OCR A Std', monospace;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.button-row {
    display: flex;
    width: 392px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

#all-clear-btn, 
#clear-btn {
    background-color: #97536a;
}

/* #percentage-btn,
#negative-btn,
#square-root-btn, */
#divide-btn,
#multiply-btn,
#minus-btn,
#plus-btn,
#equal-btn {
    background-color: #ee9f27;
}

#memory-clear-btn,
#memory-recall-btn,
#memory-minus-btn,
#memory-plus-btn{
    background-color: #A9A9A9;
}